body{
margin:0px;
}
#c1{
    width: 400px;
    height: 400px;
    border: 1px solid black;
}
#header{
    width: 1300px;
    height: 120px;
    margin-left: 30px;
}
#content{
    width: 600px;
    height: 500px;    
    margin-left: 30px
}
#schedule{
    width: 600px;
    height: 500px;
    position:absolute;
    left:630px;
    top:136px;

    
}